In [6]:
# BACKGROUND: 
 
# dataset: http://api.census.gov/data/2021/acs/acs1/subject
# dataset schema: https://api.census.gov/data/2021/acs/acs1/subject/variables.html
 
# # # attributes we want and their var name in the schema description
# total pop: S0101_C01_001E
# 15-19: S0101_C01_005E  
# > 18yo: S0101_C01_026E
# median age: S0101_C01_032E

# import libs 
import requests
import pandas as pd

# import parks data and the county its in 
parks = pd.read_csv('parks1.csv')
parks = parks[parks['Park'].notna()]
parks['County'] = parks['County'].str.replace(' County', '').str.upper()
 
# this works county data 
response = requests.get('http://api.census.gov/data/2021/acs/acs1/subject?get=NAME,S0101_C01_001E,S0101_C01_026E&for=county:*&in=state:48&key=0923d8ea2ca411114390b1f6da3b6ed97afb330d')
 
# this works for city 
#response = requests.get('http://api.census.gov/data/2021/acs/acs1/subject?get=NAME,S0101_C01_001E,S0101_C01_005E,S0101_C01_026E,S0101_C01_032E&for=place:*&in=state:48&key=0923d8ea2ca411114390b1f6da3b6ed97afb330d')
 
# convert from json i think 
data = response.json()
 
# Convert the list of lists to a DataFrame
df = pd.DataFrame(data[1:], columns=data[0])
 
# Print the DataFrame
df = df.rename(columns = {'S0101_C01_001E':'total_pop','S0101_C01_005E':'15_to_19','S0101_C01_026E':'over_18','S0101_C01_032E':'median_age'})
 
# axe ' County, Texas' from county
df['NAME'] = df['NAME'].str.replace(' County, Texas','').str.upper()
 
# join parks data to census data 
df_parks_census = df.merge(parks, left_on = 'NAME', right_on = 'County', how = 'left')
 
# drop stuff 
df_parks_census.drop(['Census link','County','state','county'], axis=1, inplace=True)
df_parks_census

,NAME,total_pop,over_18,Park,Size in acres
0,MCLENNAN,263115,198823,NaN,NaN
1,MIDLAND,167969,120668,NaN,NaN
2,NUECES,353079,267605,Mustang Island State Park,"3,954"
3,ORANGE,84742,63348,NaN,NaN
4,PARKER,156764,117924,Lake Mineral Wells State Park,"3,282.50"
5,LUBBOCK,314451,240006,NaN,NaN
6,POTTER,116547,85307,NaN,NaN
7,RANDALL,143854,109963,Palo Duro Canyon State Park,"28,000"
8,SMITH,237186,179484,Tyler State Park,985.5
9,STARR,66049,43895,Falcon State Park,"83,654"
10,TARRANT,2126477,1579920,NaN,NaN
11,TRAVIS,1305154,1035445,McKinney Falls State Park,744.4
12,WALKER,77977,66536,Huntsville State Park,"2,083.20"
13,WICHITA,130069,100500,NaN,NaN
14,WILLIAMSON,643026,485319,NaN,NaN
15,WISE,71714,54055,NaN,NaN
16,BELL,379617,274943,NaN,NaN
17,BRAZORIA,379689,281430,NaN,NaN
18,DALLAS,2586050,1926234,Cedar Hill State Park,"1,826"
19,ECTOR,161091,111685,NaN,NaN
20,EL PASO,867947,638234,Franklin Mountains State Park,"24,247"
21,EL PASO,867947,638234,Hueco Tanks State Park,860
22,FORT BEND,858527,627420,Brazos Bend State Park,"4,897"
23,GALVESTON,355062,270067,Galveston Island State Park,"2,013.10"
24,HUNT,103394,78532,Lake Tawakoni State Park,376
25,LIBERTY,97621,69679,NaN,NaN
26,MONTGOMERY,648886,480477,NaN,NaN
27,ROCKWALL,116381,85362,NaN,NaN
28,SAN PATRICIO,69699,51336,Lake Corpus Christi State Park,356
29,TAYLOR,143326,108004,Abilene State Park,529.4
30,TOM GREEN,119411,90737,San Angelo State Park,"7,677"
31,VICTORIA,90964,67980,NaN,NaN
32,WEBB,267945,182970,NaN,NaN
33,ANGELINA,86506,64526,NaN,NaN
34,BASTROP,102058,77201,Bastrop State Park,"6,600"
35,BASTROP,102058,77201,Buescher State Park,"1,016.70"
36,BEXAR,2028236,1519991,Government Canyon State Natural Area,"12,085"
37,BOWIE,92581,70656,NaN,NaN
38,BRAZOS,237032,187864,NaN,NaN
39,CAMERON,423029,299919,Resaca de la Palma State Park,"1,200"
40,COLLIN,1109462,830479,NaN,NaN
41,COMAL,174986,136266,NaN,NaN
42,CORYELL,84232,65443,Mother Neff State Park,259
43,DENTON,941647,718387,Ray Roberts Lake State Park,"29,350"
44,ELLIS,202678,148999,NaN,NaN
45,GRAYSON,139336,106092,Eisenhower State Park,463.1
46,GRAYSON,139336,106092,Ray Roberts Lake State Park,"29,350"
47,GREGG,124201,92432,NaN,NaN
48,GUADALUPE,177036,133908,NaN,NaN
49,HARRIS,4728030,3487047,NaN,NaN
50,HARRISON,69150,52045,Caddo Lake State Park,468
51,HARRISON,69150,52045,Sheldon Lake State Park,"1,200"
52,HAYS,255397,197088,NaN,NaN
53,HENDERSON,83667,65426,NaN,NaN
54,HIDALGO,880356,602060,Bentsen-Rio Grande Valley State Park,764
55,HIDALGO,880356,602060,Estero Llano Grande State Park,230
56,JEFFERSON,253704,191869,Sea Rim State Park,"4,141"
57,JOHNSON,187280,138898,Cleburne State Park,528
58,KAUFMAN,157768,113149,NaN,NaN